In [8]:
# create Faker instance
fake = Faker()

### Create functions that will take the list of teacher names, shirt sizes, schools, and instruments and map them onto random integers, thus randomly assigning each student one of each attribute from the available options.

In [9]:
# create shirt size function to generate random shirt size from choices
def shirt_assigner():
    # create shirt sizes dictionary to map sizes onto random ints from numpy
    sizes = {1: "XS",
         2: "S",
         3: "M",
         4: "L",
         5: "XL"
        }
    # generate random int
    return sizes[np.random.randint(1,6)]

In [10]:
# create function to map teacher names onto randit
def teacher_assigner():
   


    # create dictionary private teachers, us numpy random to assign an int, then map that int to a private teacher
    teachers = {0: "",
            1: "Bucket",
            2: "Alexander-Bucket",
            3: "Tibbs",
            4: "Gunter",
            5: "Cakelake",
            6: "McFly",
            7: "del Rio",
            8: "Wrestler",
            9: "Restler",
            10: "Rosenctrantz",
            11: "Gildenstern",
            12: "Rodgers",
            13: "Opie",
            14: "Silver",
            15: "Kitten",
            16: "Bull"
           }
    return teachers[np.random.randint(0,17)]

In [18]:
# create function to map instruments onto randint, include argument for primary or secondary inst, as primary inst can't be blank
def instrument_assigner(primary = True):  
    # create dictionary instruments, us numpy random to assign an int, then map that int to an instrument
    instruments = {0: "",
                  1: "0 Soprano",
                  2: "1 Alto",
                  3: "2 Tenor",
                  4: "3 Baritone"}
    # if primary = True, then only include 1-4 since primary can't be blank, else include 0-4
    if primary:
        inst_num = np.random.randint(1,5)
    else:
        inst_num = np.random.randint(0,5)
    return instruments[inst_num]

In [13]:
# create schools function for mapping
# include argument for grade level in order to correctly assign a middle or high school
def school_assigner(grade):
    # Create middle schools dictionary to map random ints onto schools
    middle_schools = {1: "Bee Cave MS",
                      2: "Canyon Ridge MS",
                      3: "Cedar Park MS",
                      4: "Cele MS",
                      5: "Chisolm Trail",
                      6: "Covington MS",
                      7: "Danielson MS",
                      8: "Deerpark MS",
                      9: "Four Points MS",
                      10: "Grisham MS",
                      11: "Henry MS",
                      12: "Lake Travis MS",
                      13: "Leander MS",
                      14: "Manor New Tech MS",
                      15: "Running Brushy MS",
                      16: "Small MS",
                      17: "Stiles MS",
                      18: "Walsh MS",
                      19: "Wiley MS"
                     }
    # create high_schools dict
    high_schools = {1: "Anderson HS",
                    2: "Austin HS",
                    3: "Cedar Park HS",
                    4: "James Bowie HS",
                    5: "Lake Travis HS",
                    6: "Round Rock HS",
                    7: "Vandegrift HS",
                    8: "Vista Ridge HS",
                    9: "Weiss HS"
                   }
    # assign a school based on grade level
    if grade > 8:
        return high_schools[np.random.randint(1,10)]
    else: 
        return middle_schools[np.random.randint(1,20)]

In [36]:
# create data for 2023 students
data_23 = []
# randomize number of students to add
num_fake_students = np.random.randint(10,30)
for i in range(num_fake_students):
    student = {}
    last_name = fake.last_name()
    student_fn = fake.first_name()
    parent_fn = fake.first_name()
    student_email = fake.ascii_email()
    parent_email = fake.ascii_email()
    grade = np.random.randint(7,13)
    student['student_name'] = f'{last_name}, {student_fn}'
    student['student_email'] = student_email
    student['School name'] = school_assigner(grade)
    student['Grade Level'] = grade
    student['T-Shirt Size'] = shirt_assigner()
    student[''] = ''
    student['parent_name'] = f'{last_name}, {parent_fn}'
    student['parent_email'] = parent_email
    student['Primary_saxophone'] = instrument_assigner()
    student['Secondary_saxophon'] = instrument_assigner(primary=False)
    student['private_teacher'] = teacher_assigner()
    
    data_23.append(student)
students_23 = pd.DataFrame(data_23)

In [14]:
# create data for 2022 students
data_22 = []
num_fake_students = np.random.randint(35,55)
for i in range(num_fake_students):
    student = {}
    last_name = fake.last_name()
    student_fn = fake.first_name()
    parent_email = fake.ascii_email()
    grade = np.random.randint(7,13)
    student['Paid?'] = 'Y'
    student['student_last'] = last_name
    student['student_first'] = student_fn
    student['Grade Level'] = grade
    student['School name'] = school_assigner(grade)
    student['saxophone'] = instrument_assigner()
    student['private_teacher'] = teacher_assigner()
    student['parent_email'] = parent_email
    data_22.append(student)
students_22 = pd.DataFrame(data_22)

In [15]:
students_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Paid?            44 non-null     object
 1   student_last     44 non-null     object
 2   student_first    44 non-null     object
 3   Grade Level      44 non-null     int64
 4   School name      44 non-null     object
 5   saxophone        44 non-null     object
 6   private_teacher  44 non-null     object
 7   parent_email     44 non-null     object
dtypes: int64(1), object(7)
memory usage: 2.9+ KB

In [16]:
students_22.head()

,Paid?,student_last,student_first,Grade Level,School name,saxophone,private_teacher,parent_email
0,Y,Ortega,Julia,12,Vandegrift HS,3 Tenor,Alexander-Bucket,brookscarol@hotmail.com
1,Y,Cooper,Michael,7,Walsh MS,1 Soprano,Cakelake,sarahvaughn@gonzalez.biz
2,Y,Bowen,Seth,8,Cedar Park MS,1 Soprano,Rodgers,jperkins@washington-anthony.com
3,Y,Hutchinson,Tara,10,Vandegrift HS,4 Baritone,Gunter,uwheeler@shields-perez.com
4,Y,Medina,Michael,9,Austin HS,4 Baritone,Silver,benjaminbrandt@roberts.com

In [43]:
# write fake student data to csvs
students_23.to_csv('2023.csv')

In [17]:
# write fake 2022 data
students_22.to_csv('2022.csv')